.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111827;
position:sticky;
top:0;
z-index:100;
}

.logo{
color:white;
font-size:30px;
font-weight:bold;
}

.navbar ul{
display:flex;
list-style:none;
gap:30px;
}

.navbar a{
color:white;
text-decoration:none;
transition:.3s;
}

.navbar a:hover{
color:#38bdf8;
}