
 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;
  background:#111;
}

.logo h2{
  color:white;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:18px;
}

.nav-links a:hover{
  color:#00bcd4;
}

.btn{
  padding:10px 20px;
  border:none;
  background:#00bcd4;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.btn:hover{
  background:#0097a7;
}